p-tree {
    font-size: 1.2em;
}

.ui-tree
{
    // width:23em;
    width:25vw;
    height: 22em;
    // border: 1px solid black;
}

.filter-container
{
    width: 27.4em;
    height: 30.9em;
    border: 1px solid black;
}