/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';
@import 'variables';
body {
    font-size: $es-base-font-size;
}

.es-header {
    background-color: $es-header-footer-background-color;
    color: $es-header-footer-base-color;
    height:$es-header-height;
    .section {
        line-height: $es-header-height;       
        .es-mat-search { 
            color: rgba(255, 255, 255, 1);
            font-size: 30px;
            vertical-align: middle;
            cursor:pointer;
        }        
        .search-box {
            margin-left:$es-header-height/4;
            height:$es-search-box-height;
            width:$es-search-box-width;
        }
        .es-button {
            // height:1em;
            background-color: $es-header-footer-background-color;
            margin-top: 7px;
            min-width: 4vw;
            width: 4.5vw;
            // margin-right: 2em;
        }
        .item-right{
            float:right;   
            // margin-top:$es-header-height/4;
            // margin-right: $es-header-height/4;
        }
        .clear {
            clear:both;
        }
        .es-logo {
            float:left;
            margin-top: 0.1em;
            margin-left: 0.4em;
            font-size: 2em;
            color: $es-logo-color;
        }
    }
}




// input[type="button"]{
//     background-color: $es-basic-button-background-color;
// }