<form [formGroup]="sampleForm" (ngSubmit)="onSubmit(sampleForm)">
  <div>
    <label>Name</label>
    <input type="text" name="name" formControlName="name">
  </div>
  <div>
    <label>Email</label>
    <input type="text" name="email" formControlName="email">
  </div>
  <div>
    <label>Age</label>
    <input type="text" name="age" formControlName="age">
  </div>
  <h3>Address</h3>
  <div formGroupName="address">
    <div>
      <label>Country</label>
      <input type="text" name="country" formControlName="country">
    </div>
    <div>
      <label>City</label>
      <input type="text" name="city" formControlName="city">
    </div>
  </div>
  <pre>{{sampleForm.value | json}}</pre>
  <button type="submit">Submit</button>
  <button type="button" (click)="printSampleForm()">Print to console</button>
</form>