.animate
{
    border-bottom: 1px solid darkorange;
    padding:5px;
    animation: color-highlight .8s ease-out;
}


@keyframes color-highlight {
    0% { background: gray; opacity: 0; transform: translateX(-40%); }   
    100% { background:white; opacity: 1; transform: translateX(0); }
}