.header-container
{
    width: 100vw;
    height: 4.3em;
}

.body-container
{
}

.category-container
{
    width:27.5em;
    float:left;
}

.product-container
{
    float:left;
    min-height: 57.5em;
}

.footer-container
{
    width: 100vw;
    height: 4.3em;
    float: left;
}

@media screen and (max-width: 700px) {
    .category-container
    {
        width:20em;
    }
}