.header-container
{
    width: 100vw;
    height: 4.3em;
    line-height: 4.3em
}

.body-container
{
    min-width:612px;
    .category-container
    {
        width:27.5em;
        float:left;
    }
    .product-container
    {
        float:left;
        min-height: 57.5em;
        width: 77%;
    }
}

.footer-container
{
    width: 100vw;
    height: 4.3em;
    float: left;
}

@media screen and (max-width: 1440px)
{
    .body-container .product-container
    {
        width:76%;
    }
}

@media screen and (max-width: 1320px) {
    .body-container .category-container
    {
        width: 22.5em;
    }
    .body-container .product-container
    {
        width:37em;
    }
}

@media screen and (max-width: 900px) {
    .body-container .category-container
    {
        width: 20em;
    }
    .body-container .product-container
    {
        width:31em;
    }
}
