.header-container
{
    width: 100vw;
    height: 4.3em;
    line-height: 4.3em
}

.body-container
{
    display: flex;
    .side-menu
    {
        width: 18em;
        min-height: 84vh;
        float:left;
        .side-button
        {
            margin-top: 15px;
            margin-left: 10%;
        }
        i.reverse  {
            -webkit-transform:rotateY(180deg);
            -moz-transform:rotateY(180deg);
            -o-transform:rotateY(180deg);
            -ms-transform:rotateY(180deg);
          }
    }
    .side-bar-container
    {
        float:left;
        min-height: 84vh;
        margin-left: 10px;
    }
    .content-container
    {
        min-height: 84vh;
        float: left;
        margin-left: 10px;
    }
}

.footer-container
{
    width: 100vw;
    height: 4.3em;
    float: left;
}

