<div class="es-header">
  <div class='section'>
    <span class="es-logo">eMART</span>
    <input class="search-box" />
    <button class="btn btn-outline-danger btn-rounded btn-sm"><i class="fa fa-bank fa-lg" aria-hidden="true"></i>Search</button>
    <button class="btn btn-sm btn-outline-danger btn-rounded"><i class="fa fa-bank fa-lg" aria-hidden="true"></i>Search</button>
    <button class="btn btn-sm btn-outline-danger btn-rounded"><i class="fa fa-bank fa-lg" aria-hidden="true"></i>Search</button>
    <button class="btn btn-sm btn-outline-danger btn-rounded"><i class="fa fa-bank fa-lg" aria-hidden="true"></i>Search</button>
    <button class="btn btn-sm btn-outline-danger btn-rounded"><i class="fa fa-bank fa-lg" aria-hidden="true"></i>Search</button>
    <button class="btn btn-sm btn-outline-danger btn-rounded"><i class="fa fa-bank fa-lg" aria-hidden="true"></i>Search</button>
    <!-- <input class="item-right button"  type="button" value="SignUp" />
    <input class="item-right button"  type="button" value="Login" /> -->
  </div>

  <!-- <div class='section'> -->
    <!-- <a style="color:white" href="#">
      <span>Hello, Sudipto</span>
    </a> -->
    <!-- <a href="#">
      <span>Abount us</span>
    </a>
    <a href="#">
      <span>Contact us</span>
    </a> -->
  <!-- </div> -->
</div>