<div class="es-header">
  <div class='section'>
    <span class="es-logo">eMART</span>
    <input class="search-box" />
    <input class="button" type='button' value="Search" />
    <input class="item-right button"  type="button" value="SignUp" />
    <input class="item-right button"  type="button" value="Login" />
  </div>

  <!-- <div class='section'> -->
    <!-- <a style="color:white" href="#">
      <span>Hello, Sudipto</span>
    </a> -->
    <!-- <a href="#">
      <span>Abount us</span>
    </a>
    <a href="#">
      <span>Contact us</span>
    </a> -->
  <!-- </div> -->
</div>