<div class="header">
  <div class='upper-section'>
    <span class="logo">eMART</span>
    <div class="search-container">
      <input class="search-input" />
      <input class="search-button" type="button" value="Search" />
    </div>
    <div class="login-controls">
      <input class="header-button" type="button" value="SignUp" />
      <input class="header-button" type="button" value="Login" />
    </div>
  </div>

  <div class='lower-section'>
    <div class="menu-controls">
      <a class="welcome-msg" href="#">
        <span>Hello, Sudipto</span>
      </a> 
      <a class="about-menu" href="#">
        <span>About us</span>
      </a>
      <a class="contact-menu" href="#">
        <span>Contact us</span>
      </a>
    </div>
    <div class="cart-controls">
        <!-- <a class="cartCount" href="#"><span>Cart (0)</span></a>
        <input class=cartButton type="button" /> -->
    </div>
</div>