@import 'variables';

.header {
    background-color: $emart-header-background;
    color: $emart-header-font-color;
    width:100vw;
    height:8vh;
    .left-container{
        float:left;
        margin-left: 1vw;
        .logo {
            float: left;
            font-size: 2.5em;
            margin-top: 1.5vh;
            color:$theme-logo-color;
        }
        .search-container {
            float:left;
            width: 40vw;
            margin-top: 1.4vh;
            margin-left: 1vw;
            .search-input{
                width: 30vw;
                height: 4.2vh;
                float:left;
                vertical-align: middle; 
                font-size: 1.5em;
            }
            .search-button{
                @extend .button-border-background;
                float:left;
                cursor: pointer;
            }
        }
    }
    .right-container
    {
        float:right;
        margin-right: 1vw;
        .profile-controls
        {
            float:right;
            margin-top: .3vh;
            .round-image
            {
                border-radius: 50%;
                margin-top: .4vh;
                cursor: pointer;
            }
        }
        .login-controls
        {
            float:right;
            margin-top: 1.5vh;
            margin-right: 1.5vw;
            .header-button {
                @extend .button-border-background;
                cursor: pointer;
            }
        }
    }
}

.button-border-background
{
    background-color: $emart-header-background;
    border: 1px solid $emart-header-font-color;
}






