<fieldset [formGroup]="myForm">
  <legend>{{layout.label}}</legend>
  <ul [formGroupName]="layout.id">
    <ng-container *ngFor="let controlInGroup of layout.controls">
      <ng-container [ngSwitch]="controlInGroup.type">

        <li *ngSwitchCase="'checkbox'">
          <label>
            <input type="checkbox" [id]="controlInGroup.id" [formControlName]="controlInGroup.id" [value]="controlInGroup.value"> {{controlInGroup.label}}
          </label>
        </li>

        <li *ngSwitchCase="'radio'">
          <fieldset>
            <legend>{{controlInGroup.label}}</legend>
            <ng-container *ngFor="let option of controlInGroup.options">
              <input type="radio" [id]="option.id" [formControlName]="controlInGroup.id" [value]="option.value" [name]="controlInGroup.id">
              <label [for]="option.id">{{option.label}}</label>
            </ng-container>
          </fieldset>
        </li>

        <li *ngSwitchCase="'select'">
          <label>{{controlInGroup.label}}</label>
          <select [formControlName]="controlInGroup.id" class="field-select">
            <option *ngFor="let option of controlInGroup.options" [value]="option.value" [label]="option.label">
            </option>
          </select>
          <error-message [layout]="controlInGroup" [control]="myForm.get(layout.id).get(controlInGroup.id)"></error-message>
        </li>

        <li *ngSwitchCase="'textarea'">
          <label [for]="controlInGroup.id">{{controlInGroup.label}}</label>
          <textarea class="field-long" [id]="controlInGroup.id" [placeholder]="controlInGroup.placeholder" [formControlName]="controlInGroup.id">{{controlInGroup.value}}</textarea>
          <error-message [layout]="controlInGroup" [control]="myForm.get(layout.id).get(controlInGroup.id)"></error-message>
        </li>

        <li *ngSwitchCase="'checkboxGroup'">
            <checkbox-group [myForm]="myForm" [layout] = "controlInGroup" [control]="myForm.get(layout.id).get(controlInGroup.id)" [j] = "2"></checkbox-group>
            <!-- <checkbox-group [myForm]="myForm" [parent] = "myForm.get(layout.id)" [layout] = "controlInGroup" [control]="myForm.get(layout.id).get(controlInGroup.id)" [j]="2"></checkbox-group> -->
          <!-- <fieldset>
            <legend>{{controlInGroup.label}}</legend>
            <ng-container [formGroupName]="controlInGroup.id">
              <ng-container *ngFor="let option of controlInGroup.options">
                <input type="checkbox" [id]="option.id" [formControlName]="option.id">
                <label style="display:inline-block" [for]="option.id">{{option.label}}</label>
              </ng-container>
            </ng-container>
            <error-message [layout]="controlInGroup" [control]="myForm.get(layout.id).get(controlInGroup.id)"></error-message>
          </fieldset> -->
        </li>

        <li *ngSwitchCase="'groupArray'">
          <button (click)="addGroupInArray(layout,controlInGroup)">Add</button>
          <legend>{{controlInGroup.label}}</legend>
          <ng-container [formArrayName]="controlInGroup.id">
            <ng-container *ngFor="let groupInArray of myForm.get(layout.id).get(controlInGroup.id).controls; let j = index">
              <div style="border-bottom: 1px solid darkorange;padding:5px;" [formGroupName]="j">
                <button (click)="removeGroupFromArray(layout,controlInGroup,j)">Remove</button>
                <ng-container *ngFor="let controlInGroupOfArray of controlInGroup.group.controls">
                  <ng-container [ngSwitch]="controlInGroupOfArray.type">
                    
                    <div *ngSwitchCase="'textarea'">
                      <label  [for]="controlInGroupOfArray.id+j">{{controlInGroupOfArray.label}}</label>
                      <textarea class="field-long" [id]="controlInGroupOfArray.id+j" [placeholder]="controlInGroupOfArray.placeholder"
                        [formControlName]="controlInGroupOfArray.id">{{controlInGroupOfArray.value}}</textarea>
                        <error-message [layout]="controlInGroupOfArray" [control]="myForm.get(layout.id).get(controlInGroup.id).controls[j].get(controlInGroupOfArray.id)"></error-message>
                    </div>

                    <div *ngSwitchCase="'select'">
                      <label>{{controlInGroupOfArray.label}}</label>
                      <select [formControlName]="controlInGroupOfArray.id" class="field-select">
                        <option *ngFor="let option of controlInGroupOfArray.options" [value]="option.value" [label]="option.label">
                        </option>
                      </select>
                      <error-message [layout]="controlInGroupOfArray" [control]="myForm.get(layout.id).get(controlInGroup.id).controls[j].get(controlInGroupOfArray.id)"></error-message>
                    </div>

                    <div *ngSwitchCase="'radio'">
                      <fieldset>
                        <legend>{{controlInGroupOfArray.label}}</legend>
                        <ng-container *ngFor="let option of controlInGroupOfArray.options">
                          <input type="radio" [id]="option.id+j" [formControlName]="controlInGroupOfArray.id" [value]="option.value" [name]="controlInGroupOfArray.id">
                          <label [for]="option.id+j">{{option.label}}</label>
                        </ng-container>
                      </fieldset>
                    </div>
                    
                    <div *ngSwitchCase="'checkbox'">
                      <label>
                        <input type="checkbox" [id]="controlInGroupOfArray.id+j" [formControlName]="controlInGroupOfArray.id" [value]="controlInGroupOfArray.value"> {{controlInGroupOfArray.label}}
                      </label>
                    </div>

                    <li *ngSwitchCase="'checkboxGroup'">
                      <fieldset>
                        <legend>{{controlInGroupOfArray.label}}</legend>
                        <ng-container [formGroupName]="controlInGroupOfArray.id">
                          <ng-container *ngFor="let option of controlInGroupOfArray.options">
                            <input type="checkbox" [id]="option.id+j" [formControlName]="option.id">
                            <label style="display:inline-block" [for]="option.id+j">{{option.label}}</label>
                          </ng-container>
                        </ng-container>
                        <error-message [layout]="controlInGroupOfArray" [control]="myForm.get(layout.id).get(controlInGroup.id).controls[j].get(controlInGroupOfArray.id)"></error-message>
                      </fieldset>
                    </li>
                                      
                    <div *ngSwitchDefault>
                      <label [for]="controlInGroupOfArray.id+j">{{controlInGroupOfArray.label}}</label>
                      <input type="controlInGroupOfArray.type" [id]="controlInGroupOfArray.id + j" [placeholder]="controlInGroupOfArray.placeholder"
                        [formControlName]="controlInGroupOfArray.id">                        
                        <error-message [layout]="controlInGroupOfArray" [control]="myForm.get(layout.id).get(controlInGroup.id).controls[j].get(controlInGroupOfArray.id)"></error-message>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </ng-container>
          </ng-container>
        </li>

        <li *ngSwitchDefault>
          <label [for]="controlInGroup.id">{{controlInGroup.label}}</label>
          <input [type]="controlInGroup.type" [id]="controlInGroup.id" [placeholder]="controlInGroup.placeholder" [formControlName]="controlInGroup.id">
          <error-message [layout]="controlInGroup" [control]="myForm.get(layout.id).get(controlInGroup.id)"></error-message>
        </li>
      </ng-container>
    </ng-container>
  </ul>
</fieldset>

<ng-template #textBox let-control="control" let-layout="layout" let-j="j">
  <div [formGroupName]="j">
    <label [for]="control.id">{{control.label}}</label>
    <input type="control.type" [id]="control.id + j" [placeholder]="control.placeholder" [formControlName]="control.id">
  </div>
</ng-template>
