<fieldset [formGroup]="myForm">
  <legend>{{layout.label}}</legend>
  <ul [formGroupName]="idx || layout.id">
    <ng-container *ngFor="let control of layout.controls">
      <ng-container [ngSwitch]="control.type">

        <li *ngSwitchCase="'checkbox'">
          <label>
            <input type="checkbox" [id]="control.id" [formControlName]="control.id" [value]="control.value"> {{control.label}}
          </label>
        </li>

        <li *ngSwitchCase="'radio'">
          <fieldset>
            <legend>{{control.label}}</legend>
            <ng-container *ngFor="let option of control.options">
              <input type="radio" [id]="option.id" [formControlName]="control.id" [value]="option.value" [name]="control.id">
              <label [for]="option.id">{{option.label}}</label>
            </ng-container>
          </fieldset>
        </li>

        <li *ngSwitchCase="'select'">
          <label>{{control.label}}</label>
          <select [formControlName]="control.id" class="field-select">
            <option *ngFor="let option of control.options" [value]="option.value" [label]="option.label">
            </option>
          </select>
          <error-message [layout]="control" [control]="myForm.get(layout.id).get(control.id)"></error-message>
        </li>

        <li *ngSwitchCase="'textarea'">
          <label [for]="control.id">{{control.label}}</label>
          <textarea class="field-long" [id]="control.id" [placeholder]="control.placeholder" [formControlName]="control.id">{{control.value}}</textarea>
          <error-message [layout]="control" [control]="myForm.get(layout.id).get(control.id)"></error-message>
        </li>

        <!-- <li *ngSwitchCase="'submit'" [ngStyle]="layout.style" [ngClass]="layout.class && layout.class.group">
          <button [ngClass]="layout.class && layout.class.element" (click)="submit(layout.actionName)" type="submit">{{layout.label}}</button>
        </li>

        <li *ngSwitchCase="'button'" [ngStyle]="layout.style" [ngClass]="layout.class && layout.class.group">
          <button [id]="layout.id" (click)="this.jsonFormService.executeAction(layout.actionName,f)" [ngClass]="layout.class && layout.class.element">{{layout.label}}</button>
        </li> -->

        <li *ngSwitchCase="'checkboxGroup'">
          <fieldset>
            <legend>{{control.label}}</legend>
            <ng-container [formGroupName]="control.id">
              <ng-container *ngFor="let option of control.options">
                <input type="checkbox" [id]="option.id" [formControlName]="option.id">
                <label style="display:inline-block" [for]="option.id">{{option.label}}</label>
              </ng-container>
            </ng-container>
            <error-message [layout]="control" [control]="myForm.get(layout.id).get(control.id)"></error-message>
          </fieldset>
        </li>

        <!-- <li *ngSwitchCase="'group'">
          <group-child [layout]="layout" [fb]="fb" [myForm]="myForm"></group-child>
        </li> -->

        <li *ngSwitchDefault>
          <label [for]="control.id">{{control.label}}</label>
          <input [type]="control.type" [id]="control.id" [placeholder]="control.placeholder" [formControlName]="control.id">
          <error-message [layout]="control" [control]="myForm.get(layout.id).get(control.id)"></error-message>

        </li>
      </ng-container>
    </ng-container>
  </ul>
</fieldset>
