//colors
$es-header-footer-background-color:#232f3e;
$es-header-footer-base-color:white;
$es-basic-button-background-color:silver;
$es-logo-color:yellow;
//dimensions
$es-base-font-size:12px;
$es-header-height:4em;
$es-search-box-width:30vw;
$es-search-box-height:1.8em;