<div class="es-header">
  <div class='section' >
    <span class="es-logo">eMART</span>
    <input class="search-box" />
    <button class="btn-link btn-sm btn-outline-white btn-rounded waves-effect"><i class="fa fa-search primary fa-lg" aria-hidden="true"></i></button>
    <!-- <button class="btn-floating btn-sm blue-gradient"><i class="fa fa-bank fa-5x" ></i>Search</button> -->
    <button class="btn btn-sm btn-outline-danger btn-rounded"><i class="fa fa-bank fa-lg" aria-hidden="true"></i>Search</button>
    <button class="btn btn-sm btn-outline-danger btn-rounded"><i class="fa fa-bank fa-lg" aria-hidden="true"></i>Search</button>
    <button class="btn btn-sm btn-outline-danger btn-rounded"><i class="fa fa-bank fa-lg" aria-hidden="true"></i>Search</button>
    <button class="btn btn-sm btn-outline-danger btn-rounded"><i class="fa fa-bank fa-lg" aria-hidden="true"></i>Search</button>
    <button class="btn btn-sm btn-outline-danger btn-rounded"><i class="fa fa-bank fa-lg" aria-hidden="true"></i>Search</button>
    <!-- <input class="item-right button"  type="button" value="SignUp" />
    <input class="item-right button"  type="button" value="Login" /> -->
  </div>
  <button class="btn-link btn-sm btn-outline-white btn-rounded teal lighten-5"><i class="fa fa-bank fa-lg" aria-hidden="true"></i></button>
  <a class="btn-link  btn-lg purple-gradient"><i class="fa fa-bolt"></i></a>
  <!-- <div class='section'> -->
    <!-- <a style="color:white" href="#">
      <span>Hello, Sudipto</span>
    </a> -->
    <!-- <a href="#">
      <span>Abount us</span>
    </a>
    <a href="#">
      <span>Contact us</span>
    </a> -->
  <!-- </div> -->
</div>