<div class="es-header">
  <div class='section'>
    <span class="es-logo">eMART</span>
    <input class="search-box" />
    <mat-icon class="es-mat-search">search</mat-icon>
    <button mat-button>
      <mat-icon class="md-24">login</mat-icon>Favourite
    </button>
    <button mat-button class="item-right es-button">Login</button>
    <button mat-button class="item-right es-button">Signup</button>    
  </div>
  <!-- <div class='section'> -->
  <!-- <a style="color:white" href="#">
      <span>Hello, Sudipto</span>
    </a> -->
  <!-- <a href="#">
      <span>Abount us</span>
    </a>
    <a href="#">
      <span>Contact us</span>
    </a> -->
  <!-- </div> -->
</div>