<div class="es-header">
  <div class='section' >
    <span class="es-logo">eMART</span>
    <input class="search-box" />
    <button class="">Search</button>
    <button mat-mini-fab>
      <mat-icon>home</mat-icon>
    </button>
    <!-- <button class="btn-floating btn-sm blue-gradient"><i class="fa fa-bank fa-5x" ></i>Search</button> -->
   
    <!-- <input class="item-right button"  type="button" value="SignUp" />
    <input class="item-right button"  type="button" value="Login" /> -->
  </div>
  <!-- <div class='section'> -->
    <!-- <a style="color:white" href="#">
      <span>Hello, Sudipto</span>
    </a> -->
    <!-- <a href="#">
      <span>Abount us</span>
    </a>
    <a href="#">
      <span>Contact us</span>
    </a> -->
  <!-- </div> -->
</div>