<div class="pagination">
  <mat-paginator class="pagination" [length]="pageObject.length" [pageIndex]="pageObject.pageIndex" 
    [pageSize] = "pageObject.pageSize" [pageSizeOptions] = "pageObject.pageSizeOptions" (page) = "pageSelected($event)"></mat-paginator>
</div>
<div class="products">
  <mat-card class="product" *ngFor="let product of products">
    <a (click)= "showProductDetails(product);">
      <mat-card-header class="product-header">
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>Hi this is a test description</mat-card-subtitle>
        <mat-card-subtitle>Hi this is a test description</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{product.images[0]}}" alt={{product.name}} class="product-image"/>
      <mat-card-content>
        <span class="original-price"><del>{{product.list_price}}</del></span>
        <span class="discounted-price">{{product.list_price}}</span>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>ADD TO CART</button>
      </mat-card-actions>
    </a>
  </mat-card>
</div>
<div class="pagination">
  <mat-paginator class="pagination" [length]="pageObject.length" [pageIndex]="pageObject.pageIndex" 
  [pageSize] = "pageObject.pageSize" [pageSizeOptions] = "pageObject.pageSizeOptions" (page) = "pageSelected($event)"></mat-paginator>
</div>