<form #f="ngForm" [formGroup]="myForm" novalidate>

  <ul [ngClass]="options.wrapperClass">

    <ng-container *ngFor="let layout of layouts">
      <ng-container [ngSwitch]="layout.type">

        <li *ngSwitchCase="'checkbox'" [ngClass]="layout.class && layout.class.group">
          <label [ngClass]="layout.class && layout.class.label">
            <input type="checkbox" [ngClass]="layout.class && layout.class.element" [id]="layout.id" [formControlName]="layout.id" [value]="layout.value"> {{layout.label}}
          </label>
        </li>

        <li *ngSwitchCase="'checkboxGroup'" [ngClass]="layout.class && layout.class.group" [ngStyle]="layout.style">
          <!-- <fieldset>
            <legend>{{layout.label}}</legend>
            <ng-container [formGroupName]="layout.id">
              <ng-container *ngFor="let option of layout.options">
                <input type="checkbox" [ngClass]="layout.class && layout.class.element" [id]="option.id" [formControlName]="option.id">
                <label [ngClass]="layout.class && layout.class.label" style="display:inline-block" [for]="option.id">{{option.label}}</label>
              </ng-container>
            </ng-container>
            <error-message [layout]="layout" [control]="myForm.get(layout.id)"></error-message>
          </fieldset> -->
          <checkbox-group  [parent] = "myForm" [layout] = "layout"></checkbox-group>
        </li>

        <li *ngSwitchCase="'radio'" [ngClass]="layout.class && layout.class.group" [ngStyle]="layout.style">
          <fieldset>
            <legend [ngClass]="layout.class && layout.class.label">{{layout.label}}</legend>
            <ng-container *ngFor="let option of layout.options">
              <input type="radio" [ngClass]="layout.class && layout.class.element" [id]="option.id" [formControlName]="layout.id" [value]="option.value"
                [name]="layout.id">
              <label [ngClass]="layout.class && layout.class.label" style="display:inline-block" [for]="option.id">{{option.label}}</label>
            </ng-container>
          </fieldset>
        </li>

        <li *ngSwitchCase="'select'" [ngClass]="layout.class" [ngStyle]="layout.style">
          <label>{{layout.label}}</label>
          <select [ngClass]="layout.id" [formControlName]="layout.id" class="field-select">
            <option *ngFor="let option of layout.options" [value]="option.value" [label]="option.label">
            </option>
          </select>
          <error-message [layout]="layout" [control]="myForm.get(layout.id)"></error-message>
        </li>

        <li *ngSwitchCase="'textarea'" [ngClass]="layout.class && layout.class.group" [ngStyle]="layout.style">
          <label [ngClass]="layout.class && layout.class.label" [for]="layout.id">{{layout.label}}</label>
          <textarea [ngClass]="layout.class && layout.class.element" class="field-long" [id]="layout.id" [placeholder]="layout.placeholder"
            [formControlName]="layout.id">{{layout.value}}</textarea>
          <error-message [layout]="layout" [control]="myForm.get(layout.id)"></error-message>
        </li>

        <li *ngSwitchCase="'submit'" [ngStyle]="layout.style" [ngClass]="layout.class && layout.class.group">
          <button [ngClass]="layout.class && layout.class.element" (click)="submit(layout.actionName)" type="submit">{{layout.label}}</button>
        </li>

        <li *ngSwitchCase="'button'" [ngStyle]="layout.style" [ngClass]="layout.class && layout.class.group">
          <button [id]="layout.id" (click)="this.jsonFormService.executeAction(layout.actionName,f)" [ngClass]="layout.class && layout.class.element">{{layout.label}}</button>
        </li>

        <li *ngSwitchCase="'group'">
          <group-child [layout]="layout" [myForm]="myForm"></group-child>
        </li>

        <li *ngSwitchCase="'groupArray'">
          <button (click)="addGroupInArray(layout)">Add</button>
          <group-array [myForm]="myForm" [layout]="layout"></group-array>
        </li>

        <li *ngSwitchDefault [ngClass]="layout.class && layout.class.group" [ngStyle]="layout.style">
          <label [ngClass]="layout.class && layout.class.label" [for]="layout.id">{{layout.label}}</label>
          <input [ngClass]="layout.class && layout.class.element" class="field-long" [type]="layout.type" [id]="layout.id" [placeholder]="layout.placeholder"
            [formControlName]="layout.id">
          <error-message [layout]="layout" [control]="myForm.get(layout.id)"></error-message>
        </li>

      </ng-container>
    </ng-container>
  </ul>
</form>

<ng-template #textBox let-layout="layout">
  <ng-container>
    <ng-container *ngFor="let control of layout.controls">
      <!-- <ng-container *ngTemplateOutlet="textBox;context:{control:control}"></ng-container> -->
      <label>{{control.label}}
        <input type="text" [placeholder]="layout.placeholder">
      </label>
    </ng-container>
  </ng-container>
</ng-template>