.example-form {
    min-width: 150px;
    max-width: 1000px;
    width: 100%;
  }
  
  .example-full-width {
    // width: 100%;
    display: block!important;
  }

  .firstName{
    color: red;
  }

  legend {
    display: block;
    width: auto;
    padding: 0 5px;
    margin-bottom: 0;
    font-size: inherit;
    line-height: inherit;
    border: auto;
    border-bottom: none;
}

fieldset {
    border: 2px groove threedface;
    padding: 5px;
}