<form [formGroup]="myForm" (ngSubmit)="submit()" novalidate>
  <ul class="form-style-1">
    <ng-container *ngFor="let layout of layouts">
      <ng-container [ngSwitch]="layout.type">
        
          <li *ngSwitchCase="'checkbox'" [ngClass] = "layout.id" [ngStyle] = "layout.style">
            <label>                
                <input type="checkbox" [id]="layout.id" [formControlName]="layout.id" [value]="layout.value">
                {{layout.label}}
            </label>
          </li>

          <li *ngSwitchCase="'checkboxGroup'" [ngClass] = "layout.id" [ngStyle] = "layout.style">
            <fieldset>
              <legend>{{layout.label}}</legend>
              <ng-container [formGroupName]="layout.id">
                <ng-container *ngFor="let option of layout.options">
                  <input [ngClass] = "layout.id" type="checkbox" [id]="option.id" [formControlName]="option.id">
                  <label style="display:inline-block" [for]="option.id">{{option.label}}</label>
                </ng-container>
              </ng-container>
              <error-message [form]="myForm" [layout]="layout"></error-message>
            </fieldset>
          </li>

          <li *ngSwitchCase="'radio'" [ngClass] = "layout.id" [ngStyle] = "layout.style">
            <fieldset>
              <legend>{{layout.label}}</legend>
              <ng-container *ngFor="let option of layout.options">
                <input  type="radio" [id]="option.id" [formControlName]="layout.id" [value]="option.value" [name]="layout.id">
                <label style="display:inline-block" [for]="option.id">{{option.label}}</label>
              </ng-container>
            </fieldset>
          </li>
          
          <li *ngSwitchCase="'select'" [ngClass] = "layout.id" [ngStyle] = "layout.style">
            <label>{{layout.label}}</label>
            <select [formControlName]="layout.id" class="field-select">
              <option *ngFor="let option of layout.options" [value]="option.value" [label]="option.label">
              </option>
            </select>
            <error-message [form]="myForm" [layout]="layout"></error-message>
          </li>
          
          <li *ngSwitchCase="'textarea'" [ngClass] = "layout.id" [ngStyle] = "layout.style">
            <label [for]="layout.id">{{layout.label}}</label>
            <textarea class="field-long" [id]="layout.id" [placeholder]="layout.placeholder" [formControlName]="layout.id">{{layout.value}}</textarea>
            <error-message [form]="myForm" [layout]="layout"></error-message>          
          </li>
          
          <li *ngSwitchCase="'submit'" [ngClass] = "layout.id" [ngStyle] = "layout.style">
            <button [ngClass]="layout.class" type="submit">{{layout.label}}</button>
            <div class="clear"></div>
          </li>
          
          <li class="form-group" *ngSwitchDefault [ngClass] = "layout.id" [ngStyle] = "layout.style">            
            <label [for]="layout.id">{{layout.label}}</label>
            <input class="field-long" [type]="layout.type" [id]="layout.id" [placeholder]="layout.placeholder" [formControlName]="layout.id">
            <error-message [form]="myForm" [layout]="layout"></error-message>         
          </li>

      </ng-container>
    </ng-container>
  </ul>

  <!-- <button [ngClass]="config.submitClass" type="submit">Submit</button> -->
</form>