form{
    margin: 0px auto;
    max-width: 600px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border: 1px solid green;
    legend {
        font-weight: bold;
    }
    div:first-child
    {
        border: 1px solid black;
        font-size: 1.2em;
        padding-left: 2%;
    }
    div:nth-child(2)
    {
        padding: 20px 12px 10px 20px;
    }
}