<div [formGroup]="parent">
  <!-- <legend>{{layout.label}}</legend> -->
  <!-- <div [formGroupName]="layout.id">     -->
    <!-- <ng-container *ngFor="let jControl of layouts"> -->

      <ng-container [ngSwitch]="jControl.type">

        <div *ngSwitchCase="'checkbox'">
          <jx-checkbox [layout]="jControl" [parent]="parentType=='form' ? parent : parent.get(layout.id)"></jx-checkbox>
        </div>

        <div *ngSwitchCase="'textarea'">
          <jx-textarea [layout]="jControl" [parent]="parentType=='form' ? parent : parent.get(layout.id)"></jx-textarea>
        </div>

        <div *ngSwitchCase="'group'">
          <jx-group [layout]="jControl" [parent]="parentType=='form' ? parent : parent.get(layout.id)"></jx-group>
        </div>

        <div *ngSwitchCase="'radio'">
          <jx-radio [layout]="jControl" [parent]="parent.get(layout.id)"></jx-radio>
        </div>

        <div *ngSwitchCase="'select'">
          <jx-select [layout]="jControl" [parent]="parent.get(layout.id)"></jx-select>
        </div>

        <div *ngSwitchCase="'checkboxGroup'">
          <jx-checkbox-group [layout]="jControl" [parent]="parent.get(layout.id)"></jx-checkbox-group>
        </div>

        <div *ngSwitchCase="'groupArray'">
          <button (click)="addGroupInArray(layout)">Add</button>
          <jx-array [layout]="jControl" [parent]="parent.get(layout.id)"></jx-array>
        </div>

        <div *ngSwitchCase="'mat-checkbox'">
          <jxmat-checkbox [layout]="jControl" [parent]="parent.get(layout.id)"></jxmat-checkbox>
        </div>

        <div *ngSwitchDefault>
          <jx-default [layout]="jControl" [parent]="parent.get(layout.id)"></jx-default>
        </div>

      </ng-container>
    <!-- </ng-container> -->
  <!-- </div> -->
</div>
