<div [formGroup]="parent">

    <ng-container [ngSwitch]="jControl.type">
      
      <div *ngSwitchCase="'checkbox'">        
        <jx-checkbox [layout]="jControl" [parent]="container"></jx-checkbox>
      </div>
      
      <div *ngSwitchCase="'textarea'">
        <jx-textarea [layout]="jControl" [parent]="container"></jx-textarea>
      </div>

      <div *ngSwitchCase="'radio'">
        <jx-radio [layout]="jControl" [parent]="container"></jx-radio>
      </div>

      <div *ngSwitchCase="'select'">
        <jx-select [layout]="jControl" [parent]="container"></jx-select>
      </div>

      <div *ngSwitchCase="'checkboxGroup'">
        <jx-checkbox-group [layout]="jControl" [parent]="container"></jx-checkbox-group>
      </div>

      <div *ngSwitchCase="'group'">
        <jx-group [layout]="jControl" [parent]="container"></jx-group>
      </div>

      <div *ngSwitchCase="'groupArray'">
        <button (click)="addGroupInArray(layout)">Add</button>
        <jx-array [layout]="jControl" [parent]="container"></jx-array>
      </div>

      <div *ngSwitchCase="'submit'" [ngStyle]="jControl.style" [ngClass]="jControl.class &&jControl.class.group">
        <button [ngClass]="jControl.class && jControl.class.element" (click)="submit(jControl.actionName)" type="submit">{{jControl.label}}</button>
      </div>

      <div *ngSwitchCase="'mat-checkbox'">
        <jxmat-checkbox [layout]="jControl" [parent]="container"></jxmat-checkbox>
      </div>

      <div *ngSwitchDefault [ngClass]="jControl.class && jControl.class.group" [ngStyle]="jControl.style">
        <jx-default [layout]="jControl" [parent]="container"></jx-default>
      </div>

    </ng-container>


  <!-- </ng-container> -->
</div>
