<div [ngClass]="productContainerClass">  
  <div class="productCollection">
    <div class="product" *ngFor="let product of pagedItems">
      <a (click)= "showDetails(product.id);">
        <img src="{{product.image}}" width="200px" height="200px" />
        <div>{{product.name}}</div>
        <div>{{product.code}}</div>
        <div>{{product.descr}}</div>
        <div>{{product.list_price}}</div>
      </a>
    </div>
  </div>

  <div *ngIf="pager.pages && pager.pages.length" class="pagination">
    <div class="spacing" [ngClass]="{disabled:pager.currentPage === 1}"> <a (click)="setPage(1)">First</a> </div>
    <div class="spacing" [ngClass]="{disabled:pager.currentPage === 1}"> <a (click)="setPage(pager.currentPage - 1)">Previous</a> </div>
    <div class="spacing" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"> <a (click)="setPage(page)">{{page}}</a> </div>
    <div class="spacing" [ngClass]="{disabled:pager.currentPage === pager.totalPages}"> <a (click)="setPage(pager.currentPage + 1)">Next</a> </div>
    <div class="spacing" [ngClass]="{disabled:pager.currentPage === pager.totalPages}"> <a (click)="setPage(pager.totalPages)">Last</a> </div>
  </div>
</div>

<div [ngClass]="productDetailsClass">
  <input type="button" class="back" (click)="showProducts();"/>
</div>