.product
{
    width: 270px;
    float: left;
    height: 300px;
}

.productDetails
{
    width:1094px;
    height:500px;
}

.productContainer
{
    width:1094px;
}

.productCollection
{
    width: 100%;
    height: 380px;
}

a
{
    cursor: pointer;
}

.pagination
{
    display: -webkit-inline-box;
    border: 1px solid blue;
}

.spacing
{
    padding: 9px;
    border: .5px solid blue;
}

.disabled
{
    background:grey;
    color: white;
}

.active
{
    background: black;
    color:white;
}


// ===========================Details Section============================================

.image
{
    float:left;
}

.imageContainer
{
    float:left;
    width:251px;
}

.productContainerDisable
{
    display: none;
}

.productDetailsDisable
{
    display: none;
}

.detailsContainer
{
    width: 300px;
    height: 310px;
    border: 1px solid black;
    margin-top: 10px;
}

.back
{
    background-image: url('/assets/icons/back.png');
    float: left;
    width: 74px;
    height: 38px;
    border: 2px solid black;
}

.backButtonContainer
{
    width: 74px;
    height: 38px;
}