<fieldset [formGroup]="parent">
  <legend>{{layout.label}}
    <button mat-icon-button (click)="addGroupInArray(layout)">
      <mat-icon>
          <i class="fa fa-plus-square"></i>
      </mat-icon>
    </button>
  </legend>
  <ng-container [formArrayName]="layout.id">
    <ng-container *ngFor="let group of parent.get(layout.id).controls;let j= index">
      <div style="border-bottom: 1px solid darkorange;padding:5px;" [formGroupName]="j">
        <button mat-icon-button (click)="removeFromArray(j)" style="float:right;">
          <mat-icon>
              <i class="fa fa-times-circle"></i>
          </mat-icon>
        </button>
        <ng-container *ngFor="let control of layout.group.controls">
          <jx-stub [jControl] = "control" [parent] = "parent" [layout] = "layout" [parentType] ="'array'" [group] = "group" [idx] = "j"></jx-stub>         
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</fieldset>