<!-- <div class="main-container" (window:resize)="onResize($event)" #div1> -->
  <div class="header">
    <button class="but-transition">Button1</button>
  </div>
  <div class="container left-pane">
    <div class="top"></div>
    <div class="bottom"></div>
  </div>
  <div class="container right-pane">
    <div class='product'></div>
    <div class='product'></div>
    <div class='product'></div>
    <div class='product'></div>
    <div class='product'></div>
    <div class='product'></div>
    <div class='product'></div>
    <div class='product'></div>
    <div class='product'></div>
    <div class='product'></div>
    <div class='product'></div>
    <div class='product'></div>
    <div class='product'></div>
    <div class='product'></div>
    <div class='product'></div>
    <div class='product'></div>
    <div class='product'></div>
    <div class='product'></div>
    <div class='product'></div>
    <div class='product'></div>
    <div class='product'></div>
    <div class='product'></div>
    <div class='product'></div>
    <div class='product'></div>
    <div class='product'></div>
    <div class='product'></div>
    <div class='product'></div>
    <div class='product'></div>
    <div class='product'></div>
    <div class='product'></div>
  </div>
<!-- </div> -->
<!-- <div class='container'>
  <div class='product'></div>
  <div class='product' id="myDiv1"></div>
  <div class='product'></div>
  <div class='product'></div>
  <div class='product'></div>
  <div class='product'></div>
  <div class='product'></div>
  <div class='product'></div>
  <div class='product'></div>
  <div class='product'></div>
  <div class='product'></div>
  <div class='product'></div>
  <div class='product'></div>
  <div class='product'></div>
</div> -->