<!-- <div class="header">
  <button (click)="addToCart()">Add to cart</button>
  <button>Button2</button>
  <span>Cart</span>
  <span>{{this.appService.getCartCount()}}</span>
  <div class="nav">
    <a href="#home">Home</a>
    <a class="news" href='#news'>News</a>
    <div class="dropdown">
      <button>Dropdown</button>
      <div class="content">Mega Menu</div>
    </div>
  </div>
</div>
<div class="container left-pane">
  <div class="top"></div>
  <div class="bottom"></div>
</div> -->
<!-- <app-signup-form></app-signup-form> -->
<!-- <app-formio1></app-formio1> -->
<app-reactive-form></app-reactive-form>