p-tree {
    font-size: 1.2em;
}

.ui-tree
{
    width:23em;
    height: 100%;
    border: 1px solid black;
    .ui-tree-container {
        height:95%;
        margin-top: 14px ;
    }
}

.filter-container
{
    width: 27.4em;
    height: 55%;
    border: 1px solid black;
}

.category-tree
{
    height:45%;
}
