p-tree {
    font-size: 1.2em;
}

.ui-tree
{
    width:23em;
    height: 22em;
    border: 1px solid black;
    .ui-tree-container {
        height:95%;
        margin-top: 14px ;
    }
}

.filter-container
{
    width: 27.4em;
    height: 30.9em;
    border: 1px solid black;
}
