p-tree {
    font-size: 1.2em;
}

.ui-tree
{
    width:23em;
    height: 22em;
    border: 1px solid black;
    .ui-tree-container {
        height:95%;
        margin-top: 14px ;
    }
}

// .ui-tree-container
// {
//     margin-top: 9px !important;
// }

.filter-container
{
    width: 27.4em;
    height: 30.9em;
    border: 1px solid black;
}

@media screen and (max-width: 1320px) {
    .ui-tree
    {
        width:18.5em;
    }
    .filter-container
    {
        width:22em;
    }
}