.payment-mode
{
    font-size: 1.5em;
    line-height: 60px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 12px;
    margin-right: 30px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    .payment-label-first
    {
        margin-right:20px;
    }
}

.payment-radio
{
    margin: 0px 6px 0px 6px;
}

.address-content
{
    margin-top: 10px;
    margin-right: 30px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    .new-address
    {
        width:68%;
        float:left;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        .new-address-radio
        {
            margin: 10px;
        }
        .new-address-label
        {
            font-size:1.5em;
        }
        .new-address-details
        {
            margin: 10px;
            .full-name
            {
                width:60%;
            }
            .phone
            {
                margin-left: 5%;
                width: 34%;
            }
            .pin-code
            {
                width:30%
            }
            .locality
            {
                margin-left: 5%;
                width:30%;
            }
            .city-district-town
            {
                margin-left: 4%;
                width:30%;
            }
            .address
            {
                width:100%;
            }
            .landmark
            {
                width:30%;
            }
            .alternate-phone
            {
                margin-left: 5%;
                width:30%;
            }
            .preferable-time
            {
                margin-left: 4%;
                width:30%;
            }
        }
    }
    .existing-address
    {
        width:31%;
        float:right;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        .address
        {
            margin: 10px;
            .address-radio
            {
                margin-right:20px;
            }
            .address-radio-label
            {
                font-size:1.5em;
            }
            .existing-address-details
            {
                margin-left: 44px;
                margin-top: 10px;
            }
        }
        .first
        {
            margin-bottom: 20px;
        }
    }
}

.payment-content
{
    margin-top:10px;
    width:66.1%;
    float:left;
    font-size:1.5em;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

