.categories
{
    border-right: 1px solid black;
    border-left: 1px solid black;
    float:left;
    margin-left:5px;
}

.products
{
    border: 1px solid red;
    margin-right:5px;
    margin-left:5px;
    text-align: center;
    display: flex;
}