.header-container
{
    width: 100vw;
    height: 4.3em;
}

.category-container
{
    background: red;
    width:30em;
}

.product-container
{

}

.footer-container
{
    width: 100vw;
    height: 4.3em;
    background: yellow;
}