.header-container
{
    width: 100vw;
    height: 4.3em;
}

.body-container
{
    height: 87vh;
}

.category-container
{
    width:27.5em;
    float:left;
}

.product-container
{
    width: 92.5em;
    float:left;
}

.footer-container
{
    width: 100vw;
    height: 4.3em;
}