<form [formGroup]="myForm">
  <input type="text" formControlName="firstName">
  <input type="text" formControlName="lastName">
  <!-- <ng-container formGroupName = "homeAddressGroup">
      <input type="text" formControlName="address1">
      <input type="text" formControlName="address2">
  </ng-container> -->
  <ng-container formArrayName="intrests">
    <ng-container *ngFor="let intrest of myForm.controls.intrests.controls;let i = index">
      <input type="text" [formControlName]="intrest[i]">
    </ng-container>
  </ng-container>
  <button type="submit" (click)="submit(myForm)">Submit</button>
</form>