<form [formGroup]="myForm">
  <input type="text" formControlName="name">
  <input type="email" formControlName="email">

  <div *ngIf="myForm.get('email').status === 'PENDING'">
    Checking...
  </div>
  <div *ngIf="myForm.get('email').status === 'VALID'">
    😺 Email is available!
  </div>

  <div *ngIf="myForm.get('email').errors && myForm.get('email').errors.emailTaken">
    😢 Oh noes, this email is already taken!
  </div>
  <div>
    <label> Address:
      <input type="text" formControlName="address">
    </label>
    <div *ngIf="myForm.get('address').errors && myForm.get('address').errors.required">Required</div>
  </div>
  <button type="submit" (click)="submit(myForm)">Submit</button>
</form>