<fieldset [formGroup]="parent">
  <legend>{{layout.label}}</legend>
  <div [formGroupName]="layout.id">
    <ng-container *ngFor="let controlInGroup of layout.controls">
      <ng-container [ngSwitch]="controlInGroup.type">

        <div *ngSwitchCase="'textarea'">
          <label [for]="controlInGroup.id">{{controlInGroup.label}}</label>
          <textarea class="field-long" [id]="controlInGroup.id" [placeholder]="controlInGroup.placeholder" [formControlName]="controlInGroup.id">{{controlInGroup.value}}</textarea>
          <jx-error [layout]="controlInGroup" [control]="parent.get(layout.id).get(controlInGroup.id)"></jx-error>
        </div>

        <div *ngSwitchCase="'checkbox'">
          <label>
            <input type="checkbox" [id]="controlInGroup.id" [formControlName]="controlInGroup.id" [value]="controlInGroup.value"> {{controlInGroup.label}}
          </label>
        </div>

        <div *ngSwitchCase="'radio'">
          <fieldset>
            <legend>{{controlInGroup.label}}</legend>
            <ng-container *ngFor="let option of controlInGroup.options">
              <input type="radio" [id]="option.id" [formControlName]="controlInGroup.id" [value]="option.value" [name]="controlInGroup.id">
              <label [for]="option.id">{{option.label}}</label>
            </ng-container>
          </fieldset>
        </div>

        <div *ngSwitchCase="'select'">
          <label>{{controlInGroup.label}}</label>
          <select [formControlName]="controlInGroup.id" class="field-select">
            <option *ngFor="let option of controlInGroup.options" [value]="option.value" [label]="option.label">
            </option>
          </select>
          <jx-error [layout]="controlInGroup" [control]="parent.get(layout.id).get(controlInGroup.id)"></jx-error>
        </div>

        <div *ngSwitchCase="'checkboxGroup'">
            <jx-checkbox-group [layout]= "controlInGroup" [parent] = "parent.get(layout.id)"></jx-checkbox-group>
        </div>

        <div *ngSwitchCase="'groupArray'">
          <jx-array [layout] = "controlInGroup" [parent] = "parent.get(layout.id)"></jx-array>
        </div>

        <div *ngSwitchDefault>
          <label [for]="controlInGroup.id">{{controlInGroup.label}}</label>
          <input [type]="controlInGroup.type" [id]="controlInGroup.id" [placeholder]="controlInGroup.placeholder" [formControlName]="controlInGroup.id">
          <jx-error [layout]="controlInGroup" [control]="parent.get(layout.id).get(controlInGroup.id)"></jx-error>
        </div>

      </ng-container>
    </ng-container>
  </div>
</fieldset>