<fieldset [formGroup]="myForm">
  <button>Add</button>
  <legend>{{controlInGroup.label}}</legend>
  <ng-container [formArrayName]="controlInGroup.id">
    <!-- <ng-container *ngFor="let groupInArray of myForm.get(layout.id).get(controlInGroup.id).controls; let j = index">
      <div style="border-bottom: 1px solid darkorange;padding:5px;" [formGroupName]="j">
        <button (click)="removeGroupFromArray(layout,controlInGroup,j)">Remove</button>
        <ng-container *ngFor="let controlInGroupOfArray of controlInGroup.group.controls">
          <ng-container [ngSwitch]="controlInGroupOfArray.type">
            <div *ngSwitchCase="'text'">
              <label [for]="controlInGroupOfArray.id">{{controlInGroupOfArray.label}}</label>
              <input type="controlInGroupOfArray.type" [id]="controlInGroupOfArray.id + j" [placeholder]="controlInGroupOfArray.placeholder"
                [formControlName]="controlInGroupOfArray.id">
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container> -->
  </ng-container>
</fieldset>
