$width:25vw;
.header-container
{
    width: 98.7vw;
    height: 4.3em;
}

.body-container
{
    width:98.7vw;
    // height: 57.5em;
}

.category-container
{
    width:$width;
    // border: 1px solid grey;
    // width:27.5em;
    // min-width: 140px;
    float:left;
}

.product-container
{
    // width: 92.5em;
    width:100vw - $width - 1.3vw;
    // float:left;
    // clear:left;
    display:inline-block;
    min-height: 57.5em;
}

.footer-container
{
    width: 100vw;
    height: 4.3em;
}