<ng-container [formGroup]="parentControl">
    <ng-container [formArrayName]="'myArray'">
      <ng-container *ngFor = "let group of parentControl.get('myArray').controls; let j = index">
        <div [formGroupName]="j">
          <!-- <ng-container *ngFor = "let control of group.controls"> -->
            <input type="checkbox" [formControlName] ="'check1'">
            <input type="checkbox" [formControlName] ="'check2'">          
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
