<div class="name-rating">
  <span class="product-name">{{product.name}}</span>
  <span class="rating">
    <button mat-button class="rating-button">
      <rating [(ngModel)]="product.scores" readonly="true"></rating>
    </button>
  </span>
</div>
<div class="image-spec-container">
  <div class="image">
    <img class="main-image" src="{{displayImage}}">
    <div class="image-icons">
      <div *ngFor="let image of product.images">
        <a (click)="changeDisplayImage(image)"><img class="icons" src="{{image}}"></a>
      </div> 
    </div>
  </div>
  <div class="specs">
    <div class="spec-group" *ngFor="let group of product.product_info">
      <h2>{{group.header}}</h2>
        <table border="1" class="spec-group-details">
          <tr *ngFor="let feature of group.details">
            <td>{{feature.name}}</td>
            <td>{{feature.value}}</td>
          </tr>
        </table>  
    </div>
  </div> 
</div>
<div class="qa-review-container">
  <div class="qa">
    <span>{{product.question_answers}}</span>
  </div>
  <div class="review">
    <span>{{product.reviews}}</span>
  </div>
</div>
