<div class="name-rating">
  <span class="product-name">{{product.name}}</span> 
  <span class="product-highlight">{{product.label}}</span>
  <rating class="star-rating" [(ngModel)]="product.scores" readonly="true"></rating>
</div>
<div class="image-spec-container">
  <div class="image">
    <img class="main-image" src="{{displayImage}}">
    <div class="image-icons">
      <div *ngFor="let image of product.images">
        <a (click)="changeDisplayImage(image)"><img class="icons" src="{{image}}"></a>
      </div> 
    </div>
  </div>
  <div class="specs">
    <div class="spec-group" *ngFor="let group of product.product_info">
      <h2>{{group.name}}</h2>
        <table border="1" class="spec-group-details">
          <tr *ngFor="let feature of group.values">
            <td>{{feature.name}}</td>
            <td>{{feature.value}}</td>
          </tr>
        </table>  
    </div>
  </div> 
</div>
<div class="qa-review-container">
  <div class="qa">
    <div class="question" *ngFor="let question of qa">
      <h2>{{question.content}}</h2>
        <div class="answer" *ngFor="let answer of question.answers">
          <span>{{answer.content}}</span>
        </div> 
    </div>
  </div>
  <div class="review">
      <div class="reviews" *ngFor="let review of reviewResponse">
          <h2>{{review.title}}</h2> 
          <rating [(ngModel)]="review.rating" readonly="true"></rating>
          <h4>{{review.content}}</h4>
            <div class="response" *ngFor="let response of review.responses">
              <span>{{response.content}}</span>
            </div> 
        </div>
  </div>
</div>
