.name-rating
{
    background: white;
    border: 1px solid black;
}

.product-name
{
    font-size:4em;
    margin-left: .3em;
}

.star-rating
{
    vertical-align: super;
    margin-left: .3em;
}

.image-spec-container
{
    background: white;
    width: 100%;
    height: 37em;
}
.image
{
    width: 37%;
    border: 1px solid black;
    height: 37em;
    float: left;
}
.image-icons
{
    height: 25%;
}
.specs
{
    width: 61%;
    border: 1px solid black;
    height: 37em;
    float: left;
    overflow-y:scroll;
}
.qa-review-container
{
    background: white;
    width: 100%;
    height: 15.5em;
}
.qa
{
    width: 37%;
    border: 1px solid black;
    height: 15em;
    float: left;
    overflow-y:scroll;
}
.review
{
    width: 61%;
    border: 1px solid black;
    height: 15em;
    float: left;
    overflow-y:scroll;
}

.main-image
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
}

.icons
{
    height: 90px;
    width: 75px;
    float:left;
    border:1px solid black;
}

.image-icons
{
    display: -webkit-box;
    overflow: hidden;
    overflow-x: scroll;
}

.spec-group
{
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.spec-group-details
{
    font-size: 1.3em;
}