<table>
  <tbody>
      <tr>
          <td>
              <b>CTO (Chief technology Officer) From year 2006 till date</b>
          </td>
      </tr>
      <tr>
          <td>
              Working with clients on Software development in Java, .NET, SharePoint, Liferay, 
              Angular 2/ 4/ 5, React JS, Backbone, Ionic cordova and JavaScript
          </td>
      </tr>
      <tr>
          <td>
              <b>May 2015 - Sep 2017: Chief architect and lead developer</b>
          </td>
      </tr>
      <tr>
          <td>
              1) Various JavaScripts Frameworks such as Backbone, Angular 2/4 and React JS <br>
              2) REST API design in node.js
              3) Developed Time reporting system on Ionic Cordova hybrid mobile system (Android and IPhone)
                  Database is Sql Server hosted in Windows Azure cloud
                  Server side coding is in node.js
                  Client side uses Ionic framework which is hybrid mobile technology internally using Angular.js
              4) Developed order generation and reporting system in mobile (Android and IPhone) based on Ionic framework. The system provides sales, inventory, product pricing and inventory movement reports for a retail outlet. Mobile based orders are generated and emailed to distributors based on product sales history patterns. That means using a mobile phone you can auto generate orders and mail it to distributors. The system works without any static IP at retail outlet server. All the communication is done over simple internet connection. The computers are behind firewalls and routers. There are multiple node.js installations talking in tandem to each other. <b>This is a flagship project and it uses IOT at JavaScript. This projecct is in production with zero rate of failure</b>.
          </td>
      </tr>
  </tbody>
</table>
