<div class="leftControls">
  <div class="searchContainer">
    <input class="searchInput" />
    <input class="searchButton" type="button"  />
  </div>

  <br />

  <div class="displayControls">
      <a class="welcomeMsg" href="#"><span>Hello, Sudipto</span></a>
      <div class="menuControls">
          <a class="aboutMenu" href="#"><span>About Us</span></a>
          <a class="contactMenu" href="#"><span>Contact Us</span></a>
      </div>
  </div>
</div>

<div class="rightControls">
  <div class="loginControls">
    <input class="pointer" type="button" value="SignUp" />
    <input class="pointer" type="button" value="Login" />
  </div>

  <br />

  <div class="cartContainer">
      <a class="cartCount" href="#"><span>Cart (0)</span></a>
    <input class=cartButton type="button" />
  </div>
</div>
