<table style="width: 100%;">
    <tbody>
        <tr align="left">
            <th style="width: 20%;">Skill name</th>
            <th style="width: 50%;">Skill bar</th>
            <th style="width: 10%;">Skill level(10)
            </th>
            <th style="width: 10%;">Hands on</th>
            <th style="width:10%">Intrested</th>
        </tr>
        <tr>
            <td>JavaScript</td>
            <td>
                <div style="width: 80%; background-color: red; height: 10px; vertical-align: middle;"></div>
            </td>
            <td>8</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Html 5</td>
            <td>
                <div style="width: 70%; background-color: green; height: 10px; vertical-align: middle;"></div>
            </td>
            <td>7</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>CSS / SCSS</td>
            <td>
                <div style="width: 60%; background-color: indianred; height: 10px; vertical-align: middle;"></div>
            </td>
            <td>6</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Backbone</td>
            <td>
                <div style="width: 40%; background-color: indianred; height: 10px; vertical-align: middle;"></div>
            </td>
            <td>4</td>
            <td>No</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Node.js</td>
            <td>
                <div style="width: 80%; background-color: yellow; height: 10px; vertical-align: middle;"></div>
            </td>
            <td>8</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Angular 4/5/6</td>
            <td>
                <div style="width: 70%; background-color: blue; height: 10px; vertical-align: middle;"></div>
            </td>
            <td>7</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>React.js</td>
            <td>
                <div style="width: 50%; background-color: green; height: 10px; vertical-align: middle;"></div>
            </td>
            <td>5</td>
            <td>No</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>C#.net</td>
            <td>
                <div style="width: 80%; background-color: magenta; height: 10px; vertical-align: middle;"></div>
            </td>
            <td>8</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Ionic</td>
            <td>
                <div style="width: 80%; background-color: black; height: 10px; vertical-align: middle;"></div>
            </td>
            <td>8</td>
            <td>No</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>ASP.net</td>
            <td>
                <div style="width: 60%; background-color: gold; height: 10px; vertical-align: middle;"></div>
            </td>
            <td>6</td>
            <td>Yes</td>
            <td>No</td>
        </tr>
        <tr>
            <td>SharePoint</td>
            <td>
                <div style="width: 60%; background-color: red; height: 10px; vertical-align: middle;"></div>
            </td>
            <td>6</td>
            <td>No</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Office365</td>
            <td>
                <div style="width: 10%; background-color: blue; height: 10px; vertical-align: middle;"></div>
            </td>
            <td>1</td>
            <td>No</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Python</td>
            <td>
                <div style="width: 50%; background-color: black; height: 10px; vertical-align: middle;"></div>
            </td>
            <td>5</td>
            <td>No</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Java</td>
            <td>
                <div style="width: 60%; background-color: red; height: 10px; vertical-align: middle;"></div>
            </td>
            <td>6</td>
            <td>No</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Scala</td>
            <td>
                <div style="width: 30%; background-color: grey; height: 10px; vertical-align: middle;"></div>
            </td>
            <td>3</td>
            <td>No</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Php / Wordpress</td>
            <td>
                <div style="width: 10%; background-color: silver; height: 10px; vertical-align: middle;"></div>
            </td>
            <td>1</td>
            <td>No</td>
            <td>No</td>
        </tr>
        <tr>
            <td>PostgreSql</td>
            <td>
                <div style="width: 75%; background-color: pink; height: 10px; vertical-align: middle;"></div>
            </td>
            <td>7</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Sql server</td>
            <td>
                <div style="width: 70%; background-color: maroon; height: 10px; vertical-align: middle;"></div>
            </td>
            <td>7</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Oracle</td>
            <td>
                <div style="width: 20%; background-color: violet; height: 10px; vertical-align: middle;"></div>
            </td>
            <td>2</td>
            <td>No</td>
            <td>No</td>
        </tr>
        <tr>
            <td>MySql</td>
            <td>
                <div style="width: 20%; background-color: indigo; height: 10px; vertical-align: middle;"></div>
            </td>
            <td>2</td>
            <td>No</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Mongo DB</td>
            <td>
                <div style="width: 15%; background-color: pink; height: 10px; vertical-align: middle;"></div>
            </td>
            <td>1</td>
            <td>No</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Sql Anywhere</td>
            <td>
                <div style="width: 80%; background-color: indianred; height: 10px; vertical-align: middle;"></div>
            </td>
            <td>8</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Powerbuilder</td>
            <td>
                <div style="width: 70%; background-color: violet; height: 10px; vertical-align: middle;"></div>
            </td>
            <td>7</td>
            <td>No</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Android</td>
            <td>
                <div style="width: 10%; background-color: violet; height: 10px; vertical-align: middle;"></div>
            </td>
            <td>1</td>
            <td>No</td>
            <td>No</td>
        </tr>
    </tbody>
</table>