<h4>Professional experience</h4>
<table>
    <tbody>
        <tr>
            <td>
                <b>CTO (Chief technology Officer) From year 2006 till date</b>
            </td>
        </tr>
        <tr>
            <td>
                Working with clients on Software development in Java, .NET, SharePoint, Liferay, 
                Angular 2/ 4/ 5, React JS, Backbone, Ionic cordova and JavaScript
            </td>
        </tr>
        <tr>
            <td>
                <b>May 2015 - till date</b>
            </td>
        </tr>
        <tr>
            <td>
                1) Various JavaScripts Frameworks as Backbone, Angular 2/4/5 and React JS <br>
                2) REST API design in node.js
            </td>
        </tr>
    </tbody>
</table>